*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
**/iosApp/Podfile.lock
**/iosApp/Pods/*

**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj


webview/webview.podspec
/convention-plugins/
keySec.gpg

**/desktopApp/*
!**/desktopApp/src
!**/desktopApp/*.kts
!**/desktopApp/*.pro

site